<div class="skills">
    <h1 class="skills">Toolbox</h1>
    <div>
        <ul class="toolbox">
            <li>Ruby <i class="devicon-ruby-plain"></i></li>
            <li>HTML <i class="devicon-html5-plain-wordmark"></i></li>
            <li>CSS <i class="devicon-css3-plain-wordmark"></i></li>
            <li>SASS <i class="devicon-sass-original"></i></li>
            <li>Javascript <i class="devicon-javascript-plain"></i></li>
            <li>Bootstrap <i class="devicon-bootstrap-plain-wordmark"></i></li>
        </ul>
    </div>
</div>
